{% load static %}
<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>s-stream</title>
    <link href="{% static 'login/js/about.ab8bdd1e.js'%}" rel="prefetch">
    <link href="{% static 'login/js/authorize.d29fc648.js'%}" rel="prefetch">
    <link href="{% static 'login/js/dashboard.483bc85e.js'%}" rel="prefetch">
    <link href="{% static 'login/css/app.601d2ada.css'%}" rel="preload" as="style">
    <link href="{% static 'login/js/app.db76dd1b.js'%}" rel="preload" as="script">
    <link href="{% static 'login/js/chunk-vendors.9aca35d3.js'%}" rel="preload" as="script">
    <link href="{% static 'login/css/app.601d2ada.css'%}" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but s-stream doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>
    <script src="{% static 'login/js/chunk-vendors.9aca35d3.js'%}"></script>
    <script src="{% static 'login/js/app.db76dd1b.js'%}"></script>
</body>

</html>