<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>s-stream</title>
    <link href="/css/chunk-2f610e10.226d2ae1.css" rel="prefetch">
    <link href="/css/chunk-3c0a3df6.86fd65c0.css" rel="prefetch">
    <link href="/css/chunk-f24a0990.aae2fbbb.css" rel="prefetch">
    <link href="/js/chunk-23cfced1.c81b0344.js" rel="prefetch">
    <link href="/js/chunk-2d0d7daa.43e7ae95.js" rel="prefetch">
    <link href="/js/chunk-2f610e10.2efedd09.js" rel="prefetch">
    <link href="/js/chunk-3c0a3df6.b64f591d.js" rel="prefetch">
    <link href="/js/chunk-f24a0990.694b6595.js" rel="prefetch">
    <link href="/css/app.601d2ada.css" rel="preload" as="style">
    <link href="/js/app.d3ee3ae3.js" rel="preload" as="script">
    <link href="/js/chunk-vendors.38cf5676.js" rel="preload" as="script">
    <link href="/css/app.601d2ada.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but s-stream doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>
    <script src="/js/chunk-vendors.38cf5676.js"></script>
    <script src="/js/app.d3ee3ae3.js"></script>
</body>

</html>